html, body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.centered-text {
  text-align: center;
}

.full-screen-width {
  width: 100vw;
}

.flex-fill-rest {
  height: 100%;
}

.video-background {
  width: 100%;
  height: auto;
  opacity: 70%;
  z-index: 0;
}

.content-height {
  height: 40vh;
}

.header-height {
  height: 20vh;
}

.text-color-change {
  transition: 0.5s;
}

.text-color-change:hover {
  color: grey;
}

@media (min-width: 1900px) {
  .hide-too-big-2000 {
    display: none !important;
  }
}

@media (min-width: 576px) {

  /* Small upper */
  .video-background {
    width: auto;
    height: 100%;
    opacity: 70%;
    z-index: 0;
  }
}

@media (min-width: 768px) {

  /* Extra small upper */
  .content-height {
    height: 62vh;
  }

  .header-height {
    height: 28vh;
  }
}

.containervideo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000;
  overflow: hidden;
  z-index: 0;
}

.video-header-overlay {
  width: 100%;
  text-align: center;
  position: absolute;
  z-index: 1;
  top: 5%;
  left: 0px;
}

.video-header-link {
  color: white;
  transition: 0.5s;
}

.video-header-link:hover {
  color: red;
  text-decoration: none;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.footer-height {
  height: 7vh;
}

.top-small-header {
  position: absolute;
  bottom: 0px;
  width: 100%;
  font-size: 18px;
  right: 0px;
}

.footer-item {
  width: 100%;
  position: absolute;
  top: 20%;
  right: 0px;
  font-size: 14px;
}

.footer-row {
  position: fixed;
  bottom: 0px;
  height: 100px;
  background-color: white;
  z-index: 2;
}

.row {
  margin: 0px;
}

#logo {
  padding-top: 12px;
  padding-bottom: 6.5px;
  transition: 1s;
}

#logo:hover {
  opacity: 0.7;
}

#mobile-footer {
  margin-top: 30px;
  margin-bottom: 30px;
}

.footer-link {
  color: black;
  transition: 0.3s;
}

.footer-link-no-hover {
  color: black;
  transition: 0.3s;
}

.footer-link:hover {
  color: blue;
  text-decoration: none;
  transform: scale(1.25);
}

.footer-link-no-hover:hover {
  color: blue;
  text-decoration: none;
}

.cover-graphics {
  background-color: grey;
  color: white;
}

.learn-item-black-box {
  background-color: black;
  color: white;
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.course-table {
  border: 2px solid white;
  color: white;
  font-weight: bold;
}

.course-table tr, td {
  border: 2px solid white;
}

.center-table {
  margin-left: auto;
  margin-right: auto;
}

.course-warning {
  padding-top: 40px;
  padding-bottom: 20px;
  color: #FFF;
  font-weight: bold;
}

.course-header-text {
  padding-top: 50px;
  padding-bottom: 20px;
}

.course-logo {
  width: 20%;
  height: auto;
  margin-top: 30px;
  margin-left: -20px;
}

.cover-logo {
  position: absolute;
  top: 20px;
  right: 5%;
  width: 25%;
  opacity: 0.5;
  padding: inherit;
  transition: 1s;
}

.cover-logo:hover {
  opacity: 1;
}

.nav-item {
  margin: 10px;
}

.learn-item {
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.course-red {
  color: white;
  background-color: #ff233c;
}

.course-red-opacity {
  color: white;
  background-color: #ff233cCC !important;
}

.course-red-text {
  color: #ff233c;
}

.course-red-text:hover {
  color: #ff233c;
}

.course-blue-opacity {
  color: white;
  background-color: #5771d4CC !important;
}

.course-blue {
  color: white;
  background-color: #5771d4;
}

.course-blue-text {
  color: #5771d4;
}

.course-blue-text:hover {
  color: #5771d4;
}

.course-grey {
  color: white;
  background-color: grey;
}

.course-grey-text {
  color: grey;
}

.course-grey-text:hover {
  color: grey;
}

.course-black {
  color: white;
  background-color: black;
}

.course-warp-box {
  margin-top: 50px;
}

.course-list-box {
  margin-top: 20px;
}

.course-list-box div {
  margin-top: 0px;
  padding-top: 0px;
}

.course-list-box div p {
  margin-top: 0px;
  padding-top: 0px;
}

.art-header-box {
  position: relative;
  width: 100%;
  height: 100%;
}

.overlay-art-box {
  position: absolute;
  top: 10px;
  padding-top: 10%;
}

.black-art-opacity-overlay {
  position: absolute;
  top: auto;
  width: 100%;
  bottom: 0px;
  background-color: #00000055;
  height: 30%;
}

.course-desc {
  font-size: 22px;
}

.brush-image {
  position: absolute;
  bottom: 0px;
  right: 0px;
  opacity: 0.8;
  width: 30%;
  transition: 2s;
}

.override-pointer-event {
  pointer-events: none;
}

.computer-header-image {
  background-color: black;
  height: 80vh;
  color: white;
  text-align: left;
}

@media (min-width: 768px) {
  .computer-header-image {
    height: 100vh;
  }
}

.blink {
  animation: blinker 0.9s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.code-red {
  color: #ff7d7d;
}

.code-orange {
  color: #e8ae56;
}

.code-green {
  color: #c6e86f;
}

.code-blue {
  color: #6fd8e8;
}

.code-grey {
  color: #6fd8e8;
}

.center-p-in-div {
  width: 100%;
}

.container-video-raw {
  position: absolute;
  padding: inherit;
  margin: inherit;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000;
  overflow: hidden;
  z-index: 0;
}

.video-background-raw {
  width: auto;
  height: 100%;
  opacity: 50%;
  z-index: 0;
  position: absolute;
  top: 0px;
  right: -30%;
}

.opacity-on-hover {
  opacity: 1;
  transition: 1s;
}

.opacity-on-hover:hover {
  opacity: 0.5;
}

#slideshow {
  width: 100%;
  height: 100%;
}

#slideshow img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0px;
  left: 0px;
}

#slideshow img:nth-of-type(1) {
  animation-name: slideshow-fade;
  animation-delay: 2s;
  animation-duration: 2s;
  z-index: 20;
}

#slideshow img:nth-of-type(2) {
  z-index: 10;
}

#slideshow img:nth-of-type(n+3) {
  display: none;
}

@keyframes slideshow-fade {
  from {
    opacity: 1.0;
  }

  to {
    opacity: 0.0;
  }
}

.papage {
  width: 100%;
  margin-top: 100px;
}

#unity-canvas {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}

#unity-loading-bar {
  position: absolute;
  left: 30%;
  top: 50%;
  width: 40%;
  height: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
}

#unity-progress-bar {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 1%;
  height: 100%;
  background-color: #ccc;
  border-radius: 10px;
  transition: 400ms linear;
}

.about-header {
  height: 50vh;
}

@media (min-width: 768px) {
  .about-header {
    height: 100vh;
  }
}

.white-link {
  color: white;
}

.white-link:hover {
  color: white;
}

.album-col {
  padding-left: 5px;
  padding-right: 5px;
}

.album-col img {
  position: relative;
  padding-bottom: 10px;
  transition: 1s;
  z-index: 1;
}

.album-col img:hover {
  transform: scale(1.5);
  z-index: 2;
}

.promo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000AA;
  z-index: 99;
}

#promo-box{
  opacity: 0;
}

.promo-content {
  width: 100%;
  height: 100%;
  padding-top: 5%;
  padding-bottom: 7%;
  text-align: center;
}

.promo-content img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: top;
}

#promo-close-button {
  margin-top: 10px;
}

/* Remove default triangle */
.footer-dropdown summary {
  list-style: none;
  cursor: pointer;
}

.footer-dropdown summary::-webkit-details-marker {
  display: none;
}

/* Match Bootstrap dropdown positioning */
.footer-dropdown {
  position: relative;
}

.footer-dropdown .dropdown-menu {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 30px;
  z-index: 2000;
}

/* Show on click */
.footer-dropdown[open] .dropdown-menu {
  display: block;
}
